<div class="container">
  <div class="row mb-3">
    <div class="col-12">
      <nav class="navbar navbar-expand-lg navbar-dark" style="background: #2f4f4f;">
        <a class="navbar-brand" routerLink="">Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="nav navbar-nav">
            <!--<a class="nav-item nav-link" routerLink="ads">Annonces</a>-->
            <!--<a class="nav-item nav-link" routerLink="new">Nouvelle Annonce</a>-->
            <!--<a class="nav-item nav-link" routerLink="login">Authentification</a>-->
            <!--<a class="nav-item nav-link" routerLink="exercices">Exercices</a>-->
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
