<li class="list-group-item" [ngClass]="{'list-group-item-success': 0 < loveIt, 'list-group-item-danger': 0 > loveIt}">
  <div class="col-12">
    <h2>{{ title }}</h2>
    {{ created_at }}
  </div>
  <div class="col-12">
    <p>{{ content }}</p>
  </div>
  {{ loveIt }}
  <button class="btn btn-success" (click)="toLoveIt(index)">Love it</button>
  <button class="btn btn-danger" (click)="dontLoveIt(index)">Don't love it</button>
</li>
